.project{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    background: #0a0a0a;
}


.project h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.description {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .box-projetc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        gap: 0.5rem;
    }
}

@media (max-width: 767px) {
    .box-projetc {
        display: grid;
        align-items: stretch;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}

